---
layout: default
title: Development
---

#development
  #intro
    %p
      The Immutant team fully welcomes all contributors to the project. We have attempted to
      organize our code and development tools to make it easy for community members to participate
      as deeply as they desire.

  .row
    #sourcerepo.span12
      %h2
        Code Repository

      %p
        The code is developed as open-source, with a publicly-accessible
        <a href="http://github.com/immutant/immutant">source-code repository</a>.

      %p
        All of the code for Immutant is open-source (1.x is licensed
        under the <a href="/license-lgpl.txt">LGPL</a>, 2.x under the
        <a href="/license-asl.txt">ASL</a>.  You may checkout the
        latest code under development at any time.

      %p
        The primary source repository is located at GitHub, and is obviously using
        the Git revision-control system.

      %p
        Using Git and GitHub, it's simple for contributors to fork the code to develop
        bugfixes or features, and easily integrate their codelines back with the
        primary codebase, including all attribution and history.

      %p
        You can easily <a href='http://github.com/immutant/immutant'>browse the
        repository</a>.

      %p
        You may clone a complete copy of the repository using git.

      %pre
        git clone git://github.com/immutant/immutant.git

      %p
        :markdown
          **Note: you will probably need to sign the [JBoss
          Contributor License Agreement (CLA)](https://cla.jboss.org/)
          before we can accept your PR.**

  .row
    .span6
      %h2
        Sponsorship


      %p
        The development of Immutant is primarily sponsored by Red Hat, Inc.
        %a{:href=>'http://redhat.com/'}
          %img{:src=>'/images/logos/redhat.png', :class=>'aligncenter'}

      %p
        :markdown
          [JetBrains](http://www.jetbrains.com/) sponsors Immutant development by donating
          [Intellij IDEA](http://www.jetbrains.com/idea/) licenses to core developers.


    #ci.span6
      %h2
        Continuous Integration

      %p
        The code is continuously built using our
        <a href='https://projectodd.ci.cloudbees.com/view/Immutant/'>continuous integration service</a>,
        which is provided by <a href='http://cloudbees.com/'>CloudBees</a>.

        %a{:href=>'http://cloudbees.com/'}
          %img{:src=>'http://torquebox.org/images/cloudbees_logo.png', :class=>'aligncenter'}
