---
title: Home
layout: default
inhibit_title: true
---
#main-intro
  :markdown
    <img src='/images/logos/immutant_icon_256px_flipped.png' id='gil-left' align='right'/>

    Immutant is an application server for [Clojure](http://clojure.org) built on top of 
    [JBoss AS7](http://www.jboss.org/as7). It's an integrated platform
    providing support for [Ring](https://github.com/mmcgrana/ring) 
    handlers, asynchronous messaging, daemons, caching, scheduled jobs, and more! 
    
    We provide a [Leiningen](http://leiningen.org/) [plugin](https://github.com/immutant/lein-immutant)
    that makes [installing](/install/) and managing an Immutant simple.

    Have questions or want to get involved? Come see us in [IRC](/community/#irc) or join our 
    [mailing lists](/community/mailing_lists/).
  %a.btn.btn-large.btn-info{:href=>'/install/'}Install Immutant
  %a.btn.btn-large{:href=>'/documentation/'}Read the Docs


.row
  .span6
    %h2.underline-header Latest News
    = partial( 'latest_news.html.haml' )

  .span6
    %h2.underline-header Releases
    = partial( 'releases.html.haml' )

    %h2.underline-header Upcoming Talks    
    = partial( 'talks.html.haml' )
        
