---
title: Home
layout: default
inhibit_title: true
---
#main-intro
  :markdown
    <img src='/images/logos/immutant_icon_256px_flipped.png' id='gil' title='Gil' alt='Gil' align='right'/>

    Immutant is an integrated suite of Clojure libraries. It
    represents an attempt to reduce the incidental complexity inherent
    in non-trivial applications. The services backed by the libraries
    include [Undertow](http://undertow.io) for web,
    [HornetQ](http://hornetq.org) for messaging,
    [Infinispan](http://infinispan.org) for caching, and
    [Quartz](http://quartz-scheduler.org) for scheduling.

    There are two major versions of Immutant: 1.x and 2.x (aka <i>The
    Deuce</i>). The former is no longer under active development.
    [This post](/news/2014/04/02/the-deuce/) explains our motivation
    for the redesign.

    Have questions or want to get involved? Come see us in [IRC](/community/#irc) or join our 
    [mailing lists](/community/mailing_lists/).
  %a.btn.btn-large.btn-success{:href=>'/tutorials/'}Read the Tutorials
  %a.btn.btn-large.btn-info{:href=>'https://github.com/immutant/feature-demo/'}Clone the Demo App

.row
  .span6
    %h2.underline-header Latest News
    = partial( 'latest_news.html.haml' )

  .span6
    %h2.underline-header Releases
    = partial( 'releases.html.haml' )

    %h2.underline-header Upcoming Talks    
    = partial( 'talks.html.haml' )
        
