---
title: Home
layout: default
inhibit_title: true
---
#main-intro
  :markdown
    <img src='/images/logos/immutant_icon_256px_flipped.png' id='gil' title='Gil' alt='Gil' align='right'/>

    Immutant is a cohesive suite of Clojure libraries that attempts to
    reduce the incidental complexity inherent in non-trivial
    applications. Each library can be used [on its
    own](/documentation/current/apidoc/guide-installation.html), or in
    any combination as needed. And each automatically provides
    enhanced functionality when [deployed to an application
    server](/documentation/current/apidoc/guide-wildfly.html).

    The services backed by the libraries include
    [Undertow](http://undertow.io) for web,
    [HornetQ](http://hornetq.jboss.org/) for messaging,
    [Infinispan](http://infinispan.org) for caching,
    [Narayana](http://www.jboss.org/narayana) for transactions, and
    [Quartz](http://quartz-scheduler.org) for scheduling.

    Have questions or want to get involved? Come see us in [IRC](/community/#irc) or join our
    [mailing lists](/community/mailing_lists/).
  %a.btn.btn-large.btn-success{:href=>"/documentation/#{latest_2x_release.version}/apidoc/"}Read the Guides
  %a.btn.btn-large.btn-info{:href=>'https://github.com/immutant/feature-demo/'}Clone the Demo App

.row
  .span6
    %h2.underline-header Latest News
    = partial( 'latest_news.html.haml' )

  .span6
    %h2.underline-header Releases
    = partial( 'releases.html.haml' )

    %h2.underline-header Upcoming Talks
    = partial( 'talks.html.haml' )
