---
title: Home
layout: default
inhibit_title: true
---


#home-page
  #intro
    :markdown
      Immutant is a [Clojure](http://clojure.org) application platform that intends to bring
      the power of the JBoss AS Java application server to Clojure apps. It is the bastard
      cousin of [TorqueBox](http://torquebox.org), and is in its infancy.

      If you are interested in learning more or want to help out, [get in touch](/community).
