---
layout: default
title: Installation
---

#intro
  :markdown
    There are currently two options for installing Immutant: using the 
    Leiningen plugin and downloading a zip file.


.row
  .span6
    %h2 Installation via Leiningen

    :markdown
      To install Immutant via the [Leiningen](http://leiningen.org/) plugin, you'll need to
      first install Leiningen, followed by the [lein-immutant](https://github.com/immutant/lein-immutant/)
      plugin. If you are using Leiningen 1.x, install via:
          $ lein plugin install lein-immutant 0.13.0
          
      If using Leiningen 2.x, install the plugin by adding it to the plugin
      list in `~/.lein/profiles.clj`:
          {:user {:plugins [[lein-immutant "0.13.0"]]}}

      You can determine the current version of the plugin by looking at
      its [page on clojars](http://clojars.org/lein-immutant). _**Note:**
      the plugin requires Leiningen **1.6.2** or greater._

      The plugin provides a number of subcommands, one of which is
      `install`. So installing Immutant is as easy as this:
          $ lein immutant install [VERSION]

      Without a VERSION specified, the latest successful incremental build
      will be installed. To obtain fixes released in subsequent incremental 
      builds, Simply run `install` again.

      To obtain a specific version, you can specify an incremental build 
      number (ex: 123) or a released version (ex: #{latest_release.version}).
      _**Note:** installing a released version requires version **0.6.0** or newer
      of the plugin._

      Releases installed via the plugin are installed by default under
      `~/.lein/immutant/releases`, and `~/.lein/immutant/current` is 
      linked to that release. You can specify an alternative parent install
      directory by passing it as the third argument to `install`:
          $ lein immutant install VERSION /path/where/you/want/it
      The plugin will install Immutant there, and link `~/.lein/immutant/current`
      to that version.

  .span6
    %h2 Installation via Zip Download

    :markdown
      You can manually download any of the same builds that you can install 
      via the plugin. You can download incremental builds from the
      [builds page](/builds/) and official releases from the [releases page](/releases/). 

      Once you have the zip downloaded, expand it somewhere handy. If you want
      to use the Leiningen plugin with this build, you'll need to set `$IMMUTANT_HOME`:
          $ mkdir immutant-releases
          $ cd immutant-releases
          $ unzip path/to/immutant-dist-bin.zip
          $ export IMMUTANT_HOME=~/immutant-releases/#{latest_release.version}/


