#bottom-nav.row
  .span8
    #legal
      %p
        The #{site.title} project is a member of the 
        <a href="http://jboss.org/">JBoss Community</a> and
        produced by the <a href="http://projectodd.org/">Project:odd</a> team.
        It is a community-driven open-source project, and is licensed under the 
        <a href="/license-lgpl.txt">GNU LGPL</a>.
        
      %p
        Copyright 2011 - 2014 <a href="http://redhat.com/">Red Hat, Inc.</a>
        #{site.title}&trade; is a trademark of Red Hat, Inc.
  .span4
    #badges
      %a{:href=>'http://jboss.org/'}<
        %img#jbosscommunity-logo{ :src=>'http://torquebox.org/images/jbosscommunity-logo.png' }
      %a{:href=>'http://projectodd.org/'}<
        %img#projectodd-logo{ :src=>'http://projectodd.org/images/projectodd-logo.png' }
