#latest-news
  - for post in site.posts[0,4] do
    .item
      %h3 
        %a{:href=>post.url}= post.title
      %h5 #{post.date.strftime( '%d %B %Y' )}
      .body
        #{summarize( html_to_text( post.content ), 30 )}
        %a{:href=>post.url} Read more &raquo;
    %hr
  .even-more
    %a{:href=>'/news'}More news &raquo;
