---
layout: default
title: Tutorials
---

#intro
  :markdown

    If you notice errors or have ideas for other tutorials, please
    [let us know](/community/) or better yet, [submit a pull
    request](https://github.com/immutant/immutant.org/tree/master/tutorials)!

  <div class="notice big">
  <strong>Note:</strong> These tutorials cover Immutant 2.x.
  The Immutant 1.x tutorials are still available <a href="/tutorials-1x/">here</a>.

%table.fancy
  - site.tutorials.each do |t|
    %tr
      %td
        %a{:href => t.output_path}>= t.title
      %td
        = t.description
