---
layout: default
title: Tutorials
---

#intro
  :markdown

    These are meant to complement our [standard
    documentation](/documentation/). They're derived from our [blog
    posts](/news/), but kept in sync as the codebase evolves. If you
    notice errors or have ideas for other tutorials, please [let us
    know](/community/) or better yet, [submit a pull
    request](https://github.com/immutant/immutant.org/tree/master/tutorials)!

%table.fancy
  - site.tutorials.each do |t|
    %tr
      %td
        %a{:href => t.output_path}>= t.title
      %td
        = t.description
