---
layout: default
title: Tutorials
---

#intro
  :markdown
    These are meant to complement our [standard docs](/documentation/).
    If you have ideas for other tutorials, please [let us know](/community/).

%table.fancy
  - site.tutorials.each do |t|
    %tr
      %td
        %a{:href => t.output_path}>= t.title
      %td
        = t.description
