---
layout: default
title: Tutorials
---

#intro
  :markdown

    If you notice errors or have ideas for other tutorials, please
    [let us know](/community/)!

  <div class="notice big"> <strong>Note:</strong> These tutorials
  cover Immutant 2.0.0.alpha1.  The Immutant 1.x tutorials are still
  available <a href="/tutorials-1x/" rel="nofollow">here</a>, and the 2.0.0.alpha2
  (and up) tutorials are now part of the <a
  href="/documentation/">documentation</a> as 'Guides'.  </div>

%table.fancy
  - site.tutorials.each do |t|
    %tr
      %td
        %a{:href => t.output_path}>= t.title
      %td
        = t.description
