---
layout: default
title: Community
---

#community
  #one-column
    #intro
      %p
        Being an open-source project, the Immutant community has many entry-points.  You're
        welcome to participate via one or several, depending on your level of interest.

      %p
        Some activities, like filing bugs in our <a href="/community/issues/">issue tracker</a>, require
        that you have a JBoss Community account.  <a href="https://community.jboss.org/login.jspa">Signing up for a JBoss Community account</a> is
        easy.


    .row
      #irc.span6
        %h2
          IRC

        %p
          The Immutant team is a distributed team, so you can be
          as close to the action as anyone else by participating
          on IRC.  IRC is our virtual office (and virtual watercooler)
          so fire up an IRC client and stop in.

        %p
          %a{:href=>'irc://irc.freenode.net/immutant'}
            %code
              irc.freenode.net #immutant

        %p
          If you don't have an IRC client, you can use the
          %a{:href=>"http://webchat.freenode.net/?channels=immutant"}web chat
          interface.

      #issues.span6
        %h2
          %a{:href=>'/community/issues/'}
            Issue Tracker

        %p
          The project tracks bugs, feature-requests, and other issues
          through the JIRA issue-tracking system at JBoss.org.

        %p
          To file issues or requests with JIRA, you must have a
          JBoss Community account.  Signing up is easy.

        %p.even-more
          %a{:href=>'/community/issues/'}
            More information about our issue-tracker &raquo;

    .row
      #mailing-lists.span6
        %h2
          Mailing List

        %p
          :markdown
            The focus of the mailing list is issues & suggestions related to the
            use and development of Immutant. If you think you've found a bug, the mailing
            list is an excellent place to start. The community can help
            determine if you're having a simple usage issue, or have
            found a true defect.

            The developers of the Immutant project participate on the user list regularly.

            You can join the list or browse the archive by visiting the
            [Immutant Google Group](https://groups.google.com/forum/#!forum/immutant).

            We used to maintain our own mailing lists, and the
            [archives of those lists are still available](http://immutant.markmail.org/).

      #twitter.span6
        %h2
          %a{:href=>"http://twitter.com/immutant"}
            Twitter

        %p
          The project Twitter account is
          %a{:href=>'http://twitter.com/immutant'}
            %code
              @immutant

        %p
          If you say something nice about Immutant, chances are we'll retweet you.
          If you say something incomprehensible (to us) in a foreign language,
          we will also probably still retweet you.  Then ask for a translation.

        %p
          You may also desire to follow the individual members of the
          <a href="http://projectodd.org/">Project:odd</a> team, who are
          responsible for the development of Immutant.
