---
title: Mailing Lists
layout: default
section: Community
---

#intro
  :markdown
    We provide both user and developer mailing lists. Anyone is welcome to join
    either list.

.row
  .span6
    :markdown
      ## User List

      The user list is where most discussions occur. The focus of 
      the user list is indeed issues & suggestions related to the 
      use of Immutant. If you think you've found a bug, the user 
      list is an excellent place to start. The community can help 
      determine if you're having a simple usage issue, or have 
      found a true defect.

      The developers of the Immutant project participate on the user list regularly.

      ### Subscribe

      To subscribe to the user list, send an email (no subject or body is required) to:

          immutant-user-subscribe@immutant.org 

      You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete your subscription.

      ### Unsubscribe

      To unsubscribe from the user list, send an email (no subject or body is required) to:

          immutant-user-unsubscribe@immutant.org 

      You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete the unsubscription.

      ### Archives

      `immutant-user` is archived on both [MarkMail](http://immutant.markmail.org/search/?q=#query:%20list%3Aorg.immutant.immutant-user+page:1+state:facets) and 
      [Nabble](http://immutant-user.37210.n6.nabble.com/).


  .span6
    :markdown
      ## Developer List

      The developer list is where the developers discuss internal designs, 
      choices and complexity. If you are interested in the inner workings 
      and how they are built, the developer list is an excellent resource.

      Since the developers also participate on the user list, there is no 
      need to initiate bug reports on the developer list. The developers will 
      escalate true defects to the developer list to determine the proper course of action.

      ### Subscribe

      To subscribe to the developer list, send an email (no subject or body is required) to:

          immutant-dev-subscribe@immutant.org 

      You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete your subscription.

      ### Unsubscribe

      To unsubscribe from the developer list, send an email (no subject or body is required) to:

          immutant-dev-unsubscribe@immutant.org 

      You will receive a confirmation email from the system. You must reply to this confirmation email in order to complete the unsubscription.

      ### Archives

      `immutant-dev` is archived on both [MarkMail](http://immutant.markmail.org/search/?q=#query:%20list%3Aorg.immutant.immutant-dev+page:1+state:facets) and 
      [Nabble](http://immutant-dev.37284.n6.nabble.com/).

