$mustard: #e4a932;
$grayLightish: #bbb;

$navbarBackground: $mustard;
$navbarHeight: 40px;
$navbarBackgroundHighlight: $mustard - #111;
$navbarLinkColor: #000;

$linkColor: #835c0f;

$topbar-height: 70px;
$footer-height: 120px;

@import "bootstrap";
@import "partials/news";
@import "partials/builds";

// fix for https://github.com/twitter/bootstrap/issues/1540
.navbar .nav {
    height: $navbarHeight;
}

.navbar .nav > li > a {
    padding: ($navbarHeight - 20)/2 10px (($navbarHeight - 20)/2 + 1);
}

.navbar-text {
    line-height: $navbarHeight;
}
// end fix

body {
    padding-top: $topbar-height;
}

.navbar .brand {
    padding: 6px 20px 4px;
}

.navbar-fixed-top {
    font-size: 1.2em;
    border-top: 12px solid #fff;
    #logo {
        max-height: 64px;
        margin-top: -18px;
        margin-bottom: -19px;
    }
}

//overrides parts of .page-header from bootstrap
.page-header {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.gray-box {
    @include border-radius(6px);
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

#main-intro {
    padding: 0px 30px 30px;
    margin-bottom: 20px;
    p {
        font-size: 20px;
        line-height: $baseLineHeight * 1.5;
    }
}

#intro {
    margin-bottom: 20px;
    p {
        font-size: 16px;
        line-height: $baseLineHeight * 1.2;
    }
}

.even-more {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#upcoming-talks {
    .event-details {
        text-align: right;
        margin-top: 5px;
        font-weight: bold;
    }
    .event-logo {
        max-width: 200px;
        margin: auto;
        display: block;
    }
    #get-in-touch p {
        font-weight: bold;
    }
}

#footer {
    @include gradient-vertical($white, $grayLightish);
    padding-top: 30px;
    padding-bottom: 30px;

    #badges img {
        width: 130px;
        margin-left: 15px;
    }
    #projectodd-logo {
        margin-bottom: 14px;
    }
}

.bold {
    font-weight: bold;
}

.underline-header {
    border-bottom: 1px solid $grayLight;
    margin-bottom: 18px;
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.bordered {
    border: 3px solid $grayLightish;
}

table.fancy {
  @extend .table;
  @extend .table-bordered;
  @extend .table-condensed;
}

// sticky footer from: https://github.com/twitter/bootstrap/issues/306#issuecomment-2880409
html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    margin: 0 auto -1*($topbar-height + $footer-height - 10px);
}

#footer, #footer-push {
    clear: both;
    height: $topbar-height + $footer-height;
}
//end sticky footer

// Include responsive Bootstrap styles
@import "bootstrap-responsive";
