---
title: Incremental Builds
layout: default
---

%script{:type=>'text/javascript', :src=>'http://torquebox.org/javascripts/jenkins.js'}
%script{:type=>'text/javascript', :src=>'incremental-builds.js'}



#intro
  %h1 Incremental Builds

  :markdown
    <a href='http://cloudbees.com/'>  <img src='http://torquebox.org/images/cloudbees_logo.png' align='right'/></a>

    Our incremental builds are performed by our [CI system](/development/#ci) any time the code changes.
    The incremental builds are supported by a contribution from [CloudBees](http://cloudbees.com/).  

<div id="build-currently-building"></div>

 
.clearfix{:style=>'clear:both; height: 0px;'}
  &nbsp;

%h2 Latest Incremental Build

:markdown
  The latest stable build may be fetched using this constant URL:

  * [http://immutant.org/builds/immutant-dist-bin.zip](/builds/immutant-dist-bin.zip)

  or installed via our [Leiningen plugin](/install/):
      $ lein immutant install LATEST
  
  It's documentation is available at:

  * [HTML Manual](/builds/LATEST/html-docs/index.html)
  * [HTML API Docs](/builds/LATEST/html-docs/apidoc/index.html)

  Details of this build are immediately below.

%table.downloads.incremental-builds#latest-stable
  %tr.header
    %th.build-info Build
    %th.binary Binary Distribution
    %th.docs Documentation
    %th.git Git
    %th.result Result

.spacer{:style=>'height: 2em;'}
  &nbsp;

%h2 Recent Incremental Builds

%p
  Previous builds are listed below.  A currently-running build is displayed in yellow. Aborted builds are displayed in grey.
  Successful builds are green.  Failed builds are in red.  Failed builds <b>may produce artifacts</b>, but they should probably
  not be trusted.

%table.downloads.incremental-builds#builds
  %tr.header
    %th.build-info Build
    %th.binary Binary Distribution
    %th.docs Documentation
    %th.git Git
    %th.result Result
  
