---
title: Incremental Builds
layout: default
---

//%script{:type=>'text/javascript', :src=>'http://torquebox.org/javascripts/jenkins.js'}
%script{:type=>'text/javascript', :src=>'/javascripts/jenkins.js'}
%script{:type=>'text/javascript', :src=>'incremental-builds.js'}



#intro
  :markdown
    <a href='http://cloudbees.com/'>  <img src='http://torquebox.org/images/cloudbees_logo.png' align='right'/></a>

    Our incremental builds are performed by our [CI system](/development/#ci) any time the code changes.
    The incremental builds are supported by a contribution from [CloudBees](http://cloudbees.com/).  
 
.clearfix{:style=>'clear:both; height: 0px;'}
  &nbsp;

:markdown
  Starting with incremental build **750**,
  there are two release distributions avaialable:

  * *slim* - a smaller, lighter weight distribution that only
    includes the functionality needed to run Immutant Clojure
    applications, but not JavaEE applications. 
  * *full* - the full JBossAS distribution with Immutant
    included. If you need to run JavaEE applications alongside
    Clojure apps in the same AS, this is the distribution for
    you.

  The plugin will install the *slim* version by default. To
  install the *full* distribution, pass the `--full` option to 
  the `install` subtask.

  Older releases and builds only provide a *bin* distribution,
  which is analogous to the *full* distribution above.

<div id="build-currently-building"></div>

%h2 Latest Incremental Build

:markdown
  The latest stable build may be fetched using this constant URL:

  * [http://immutant.org/builds/immutant-dist-slim.zip](/builds/immutant-dist-slim.zip)
  * [http://immutant.org/builds/immutant-dist-full.zip](/builds/immutant-dist-full.zip)

  or installed via our [Leiningen plugin](/install/):

      $ lein immutant install :latest
  
  It's documentation is available at:

  * [HTML Manual](/builds/LATEST/html-docs/index.html)
  * [HTML API Docs](/builds/LATEST/html-docs/apidoc/index.html)

  Details of this build are immediately below.

%table.downloads.incremental-builds#latest-stable
  %tr.header
    %th.build-info Build
    %th.binary Binary Distribution
    %th.docs Documentation
    %th.git Git
    %th.matrix Clojure 1.3.0
    %th.matrix Clojure 1.4.0
    %th.matrix Clojure 1.5.1

.spacer{:style=>'height: 2em;'}
  &nbsp;

%h2 Recent Incremental Builds

%p
  Previous builds are listed below.  A currently-running build is displayed in yellow. Aborted builds are displayed in grey.
  Successful builds are green.  Failed builds are in red.  Failed builds <b>may produce artifacts</b>, but they should probably
  not be trusted.

%table.downloads.incremental-builds#builds
  %tr.header
    %th.build-info Build
    %th.binary Binary Distribution
    %th.docs Documentation
    %th.git Git
    %th.matrix Clojure 1.3.0
    %th.matrix Clojure 1.4.0
    %th.matrix Clojure 1.5.1

  
