---
title: Incremental Builds
layout: default
---

//%script{:type=>'text/javascript', :src=>'http://torquebox.org/javascripts/jenkins.js'}
%script{:type=>'text/javascript', :src=>'/javascripts/jenkins.js'}
%script{:type=>'text/javascript', :src=>'incremental-builds.js'}



#intro
  :markdown
    <a href='http://cloudbees.com/'>  <img src='http://torquebox.org/images/cloudbees_logo.png' align='right'/></a>

    Our incremental builds are performed by our [CI system](/development/#ci) any time the code changes.
    The incremental builds are supported by a contribution from [CloudBees](http://cloudbees.com/).  
 
.clearfix{:style=>'clear:both; height: 0px;'}
  &nbsp;

:markdown 
  For incremental builds, only the *slim* distribution is
  avaiable. *slim* is a small, lightweight distribution that only
  includes the functionality needed to run Immutant Clojure
  applications, but not JavaEE applications.

  ## Public Artifacts

  If you need to depend on incremental public API artifacts in your
  `project.clj`, you will need to use the correct version identifiler
  and add two repositories:

      (defproject some-project "1.2.3"
        ...
        :dependencies [[org.clojure/clojure "1.5.1"]
                       [org.immutant/immutant "1.x.incremental.BUILD_NUM"]]
        :repositories [["Immutant incremental BUILD_NUM"
                        "http://downloads.immutant.org/incremental/immutant/BUILD_NUM/repo/"]
                       ["JBoss Polyglot"
                        "http://downloads.immutant.org/upstream/"]])

  Where `BUILD_NUM` is the build number for the build you are using.
  
  Note: incremental public API artifacts are only published for build **978** and newer.

<div id="build-currently-building"></div>

%h2 Latest Incremental Build

:markdown
  The latest stable build may be fetched using this constant URL:

  * [http://immutant.org/builds/immutant-dist-slim.zip](/builds/immutant-dist-slim.zip)

  or installed via our [Leiningen plugin](/install/):
  
      $ lein immutant install LATEST

  It's documentation is available at:

  * [HTML Manual](/builds/LATEST/html-docs/index.html)
  * [HTML API Docs](/builds/LATEST/html-docs/apidoc/index.html)

  Details of this build are immediately below.

%table.downloads.incremental-builds#latest-stable
  %tr.header
    %th.build-info Build
    %th.binary Binary Distribution
    %th.docs Documentation
    %th.git Git
    %th.matrix Clojure 1.4.0
    %th.matrix Clojure 1.5.1
    %th.matrix Clojure 1.6.0-alpha2

.spacer{:style=>'height: 2em;'}
  &nbsp;

%h2 Recent Incremental Builds

%p
  Previous builds are listed below.  A currently-running build is displayed in yellow. Aborted builds are displayed in grey.
  Successful builds are green.  Failed builds are in red.  Failed builds <b>may produce artifacts</b>, but they should probably
  not be trusted.

%table.downloads.incremental-builds#builds
  %tr.header
    %th.build-info Build
    %th.binary Binary Distribution
    %th.docs Documentation
    %th.git Git
    %th.matrix Clojure 1.4.0
    %th.matrix Clojure 1.5.1
    %th.matrix Clojure 1.6.0-alpha2

  
