!!! 5
%html
  %head
    %title
      #{site.title} | #{page.title}
    %meta{ :charset=>'UTF-8' }
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles.css' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>'/news.atom' }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{:type=>'text/javascript', :src=>'/javascripts/dateformat.js' }

  %body
    
    ~ content

    = google_analytics
