---
layout: base
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{ :href=>'/' } 
        %img#logo{ :src=>'/images/logos/logo-horizontal-centered.png' }

      %a.btn.btn-navbar{'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{ :href=>'/news/' } News
          %li
            %a{ :href=>'/install/' } Install
          %li
            %a{ :href=>'/documentation/' } Documentation
          %li
            %a{ :href=>'/community/' } Community
          %li
            %a{ :href=>'/development/' } Development
          %li.dropdown
            %a.dropdown-toggle{ :href=>'#', 'data-toggle'=>'dropdown' }
              Quick Links
              %b.caret
            %ul.dropdown-menu
              %li
                %a{ :href=>'/documentation/current/' } Manual
              %li
                %a{ :href=>'/documentation/current/apidoc/' } API Docs
              %li.divider  
              %li
                %a{ :href=>'/releases/' } Versioned Releases
              %li
                %a{ :href=>'/builds/' } Incremental Builds
              %li
                %a{ :href=>'https://issues.jboss.org/browse/IMMUTANT' } Issues
              %li
                %a{ :href=>'http://webchat.freenode.net/?channels=immutant' } #immutant on IRC
              %li
                %a{ :href=>'https://github.com/immutant/immutant' } Source

#wrapper
  #main-content.container
    - unless page.inhibit_title
      .page-header
        %h1 
          #{page.title}

    ~ content
  #footer-push

#footer
  .container
    = partial( 'footer.html.haml' )

%script{ :type=>'text/javascript', :src=>'/javascripts/bootstrap-collapse.js' }
%script{ :type=>'text/javascript', :src=>'/javascripts/bootstrap-dropdown.js' }
%script{ :type=>'text/javascript', :src=>'/javascripts/bootstrap-tab.js' }

:javascript
  $( function () {
     var syntax_root = "/javascripts/jquery-syntax/"

     if (!$.browser.msie && $( '.syntax' ).length) {
       $.getScript( syntax_root + "jquery.syntax.min.js", function () {
         $.syntax( {root: syntax_root,
                   blockLayout: 'plain'} )
       } )
     }
   } )


