---
layout: default
title: Documentation
---

#intro
  :markdown
    We provide documentation for each versioned release and each [1.x](/builds/) and [2.x incremental build](/builds/2x/).

:markdown
  ## Latest 2.x Incremental Build

  There is no official 2.x release yet. All successful incremental
  builds are published, but you must
  [configure a repository](/news/2014/04/28/getting-started-with-2x/)
  to obtain them.

  * [2.x API docs](https://projectodd.ci.cloudbees.com/job/immutant2-incremental/lastSuccessfulBuild/artifact/target/apidocs/index.html)

  You can access the documentation for prior incremental builds on the
  [2.x builds page](/builds/2x/).

  ## Latest 1.x Release (#{latest_release.version})

  The documentation for the latest release (currently #{latest_release.version}) is always 
  available at:

  * [http://immutant.org/documentation/current/](/documentation/current/) - Manual
  * [http://immutant.org/documentation/current/apidoc/](/documentation/current/apidoc/) - Clojure API docs

  You can access the documentation for prior releaes on our [releases page](/releases/).

  ## Latest 1.x Incremental Build

  The documentation for the latest successful 1.x incremental build is
  always available at:

  * [http://immutant.org/builds/LATEST/html-docs](/builds/LATEST/html-docs/index.html) - Manual
  * [http://immutant.org/builds/LATEST/html-docs/apidoc/](/builds/LATEST/html-docs/apidoc/index.html) - Clojure API docs

  You can access the documentation for prior incremental builds on our
  [1.x builds page](/builds/).

  ## Documentation Issues

  If you find any issues with our documentation or have any questions about it, please 
  [let us know](/community/). 

  The manual is written in [org-mode](http://orgmode.org/), and you can find the source in 
  our [git repository](https://github.com/immutant/immutant/tree/master/docs/src/org)
  if you are inclined to provide a patch.
