---
layout: default
title: Tutorials
---

#intro
  :markdown

    These are "legacy" tutorials for Immutant 1.x. Current development
    is in support of the newer Immutant 2.x (aka "The Deuce"), the
    guides for which are part of the [documentation](/documentation/).

%table.fancy
  - site.tutorials1.each do |t|
    %tr
      %td
        %a{:href => t.output_path}>= t.title
      %td
        = t.description
